<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>TesteFilmes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container-fluid">
      <ul class="nav justify-content-end">
        <li><%= link_to t('language.portuguese'), welcome_index_path(locale: 'pt-BR'), class:'nav-item', class:'btn btn-link btn-sm' %></li>
        <li><%= link_to t('language.english'), welcome_index_path(locale: 'en'), class:'nav-item', class:'btn btn-link btn-sm' %></li>
        <li><%= link_to 'HOME', welcome_index_path, class:'nav-item', class:'btn btn-link btn-sm' %></li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>